# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/.jshintrc
src/index.js
src/components/Cart.js
src/components/Categories.js
src/components/ChangePassword.js
src/components/Cms.js
src/components/Home.js
src/components/MyAccount.js
src/components/MyAddress.js
src/components/OrderDetails.js
src/components/Products.js
src/components/Profile.js
src/components/UserLeftMenu.js
src/components/Wishlist.js
src/layouts/Footer.js
src/layouts/Header.js
nbproject/project.properties
